.p-toast-top-right {
  right: 0 !important;
}

.p-toast-message {
  border-width: 0 0 0 13px !important;
  border-radius: 0 !important;
  color: white !important;
  font-size: 1.2em !important;
  box-shadow: 0px 3px 6px #00000029 !important;
  .p-toast-message-content {
    position: relative;
    padding: 20px !important;
    display: flex;
    align-items: center;
  }
  .p-toast-detail {
    font-weight: 100 !important;
    margin: 0 !important;
  }
  .p-toast-message-icon {
    width: 60px;
    display: block;
    &::before {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .p-toast-message-text {
    margin: 0 1rem 0 1rem !important;
  }
}

.p-toast-message-error {
  background: #fc7777 !important;
  border-color: #fc4e4e88 !important;
  .p-toast-message-icon::before {
    background-image: url('/img/icons/ic_error.svg');
  }
  .p-toast-detail {
    color: #c32020 !important;
  }
}

.p-toast-message-success {
  background: #ccf0da !important;
  border-color: #2ac869;
  .p-toast-message-icon::before {
    background-image: url('/img/icons/ic_success.svg');
  }
  .p-toast-detail {
    color: #2ac869 !important;
  }
}
