#login-view {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: url('/img/ic_background_login.png');
  background-position: center;
  background-size: cover;
  section {
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 60px 40px;
  }
  #section-form {
    margin: 0 100px;
    #login-content {
      position: relative;
      padding: 60px 40px;
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: 0.8) 0% 0% no-repeat
          padding-box;
        mix-blend-mode: multiply;
        border: 1px solid #cacccf;
        border-radius: 20px;
        opacity: 1;
        backdrop-filter: blur(10px);
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 380px;
      #logo-login {
        width: 90%;
        max-width: 300px;
        max-height: 200px;
        z-index: 2;
      }
      form {
        z-index: 2;
      }
      #forgot-password-button {
        position: relative;
        a {
          font-size: 0.8em;
          color: #fff952;
          position: absolute;
          right: 0;
          top: -40px;
        }
      }
    }
  }
}
